@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Open+Sans&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: rgba(86, 137, 255, 0.78);
}

form {
    width: 30%;
    margin: 200px auto;
    height: 500px;
    background-color: rgba(8, 11, 17, 0.78);
}

.login h3 {
    text-align: center;
    color: rgba(254, 254, 255, 1);
    font-size: 25px;
    padding-top: 50px;
}

.user {
    margin-top: 50px;
}

.user label {
    font-size: 25px;
    color: rgba(254, 254, 255, 1);
    padding-left: 50px;
    padding-right: 20px;
}

.user input {
    font-size: 25px;
    background-color: rgba(50, 50, 72, 0.1);
    border: none;
    border-bottom: 1px solid;
    border-color: rgba(254, 254, 255, 1);
    color: rgba(254, 254, 255, 1);
}

.pass {
    margin-top: 30px;
}

.pass label {
    font-size: 25px;
    color: rgba(254, 254, 255, 1);
    padding-left: 50px;
    padding-right: 30px;
}

.pass input {
    font-size: 25px;
    background-color: rgba(50, 50, 72, 0.1);
    border: none;
    border-bottom: 1px solid;
    border-color: rgba(254, 254, 255, 1);
    color: rgba(254, 254, 255, 1);
}

.enter {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.enter button {
    font-size: 20px;
    background-color: rgba(50, 50, 72, 0.1);
    color: rgba(254, 254, 255, 1);
    border-color: rgba(254, 254, 255, 1);
    padding: 5px;
    width: 20%;
    border-radius: 20px;
}

.signup {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.signup button {
    background-color: rgba(50, 50, 72, 0.1);
    border: none;
}

.signup a {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgba(254, 254, 255, 1);
}

.signup a:hover {
    border-bottom: 1px solid white;
    color: rgba(43, 57, 208, 1);
}